body{
   background-color: #BC3A3C;
   
}
h2{
   text-align: center;
    font-size: 25pt;
    font-family: 'Sedgwick Ave', cursive;
    /* font-family: 'Permanent Marker', cursive; */
}
h1{
    text-align: center;
    font-size: 45pt;
    font-family: 'Sedgwick Ave', cursive;
}
hr{
    color: #000000;
}
label{
    text-align: center;
    font-size: 20pt;
    font-family: 'Sedgwick Ave', cursive;
}
.row2{
    float: left;
    overflow: hidden;
    font-size: 18pt;
    padding: 0%;
  margin-left: 15px;
   border-style: ridge;
   border-color: #000000;
}
.row1{
    float: right;
    overflow: hidden;
    font-size: 18pt;
    padding: 0%;
   border-style: ridge;
   border-color: #000000; 
   margin-right: 15px;
}
.row3{
    margin-top: 100px;
    padding: 0;
}
#burgerlist{
    color: #000000;
    font-family: 'Sedgwick Ave', cursive;
    text-decoration: none;
    display: block;
    padding: 0%;
}
li{
    text-decoration: none;
    padding: 0;
}
.form-group{
    /* margin-left: 35px; */
    margin: auto;
    display: block;
    padding: 0%;
}
.create-form{
    display: block;
    padding:0;
    
}
#burgeradd{
    text-align: center;
}
#burgersubmit{
   margin: auto;
   display: block;
   padding: 0;
}
.delete-burger{
    margin-top: 10px;
}